<launch>
      <arg name="debug" default="false" />
      <arg name="gui" default="true" />
      <arg name="pause" default="false" />
      <arg name="world" default="$(find maze_solver)/worlds/maze3.world" />

      <include file="$(find gazebo_ros)/launch/empty_world.launch">
              <arg name="world_name" value="$(arg world)" />
              <arg name="debug" value="$(arg debug)" />
              <arg name="gui" value="$(arg gui)" />
              <arg name="paused" value="$(arg pause)" />
              <arg name="use_sim_time" value="true" />
      </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find maze_solver)/urdf/maze_solver.urdf -urdf -model maze_solver"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>